h3{
 text-align: center;  
 font-size: 50px;
 font-weight: 200px;
 font-style: oblique;
 position: relative;
 top: 100px;
 background-color:cyan;

}
.bio{
    position: relative;
    top: 100px;
    background-color: aqua;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}